services:
  webapi:
    build: .
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ClientApp__Origin: "http://localhost:3000"
      GOOGLE_APPLICATION_CREDENTIALS: /app/lifehacking-firebase-adminsdk.json
    volumes:
      - ~/secrets/lifehacking-firebase-adminsdk.json:/app/lifehacking-firebase-adminsdk.json
    ports:
      - "8080:8080"
